@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.vertex {
  width: 25px;
  height: 25px;
  font-size: 0px;
  border: white solid 1px;
  transition: all 0.2s ease;
  background-color: lightgrey;
}

.row {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

#container {
  border: black solid 2px;
}